<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Hello</h1>
        <button onclick="emitEvent()">Emit Event</button>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>